@import "tailwindcss";

@theme {
  --color-primary-background: #121212;
  --color-secondary-background: #1E1E1E;
  --color-surface: #0D0D0D;
  --color-border: #1A1A1A;
}

* {
  box-sizing: border-box;
}