@import "tailwindcss";

@theme {
  --color-primary-background: #121212;
  --color-secondary-background: #1E1E1E;
  --color-surface: #0D0D0D;
  --color-border: #1A1A1A;
}

* {
  box-sizing: border-box;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollbar {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}